
<nav class="navbar navbar-dark bg-dark sticky-top" style="height: 100px;">
    <a class="navbar-brand" href="#">
        <img src="image/img2.jpg" style="height: 80px; width:150px; ">
    </a>

    <a class="navbar-brand" href="#" style="font-weight: bold;" id="test"> News - Egypt Today </a>

    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>









